# do not track these files
Data/shapefile
Data/Maps Mexican-American Population
Data/Maps Exports to Mexico, 2018 (USD Million)
Data/factsheets_trade
Data/factsheets_pdfs
Data/factsheets_demography
Data/PDFs_Trade
Data/PDFs_Demography
Data/USA_maps
Data/factsheet_data.csv
Data/State_trade_politics.xlsx
Data/Mexico_exports_district_2019.xlsx
Data/Mexico_exports_district.csv
Data/Mexico_exports.csv
