# do not track these files
Data/shapefile
Data/Mexican Population_maps
Data/Latino Population_maps
Data/Total Population_maps
Data/factsheets_trade
Data/factsheets/demography
Data/factsheets_pdfs
Data/District_shapes
